@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

html,
body {
  /* font-family: sans-serif; */
  font-family: 'Karla', sans-serif;
  font-size: large;
  margin: 0%;
  padding: 0%;
  background-color: #6B7A8F;
  height: 100%;
}

.navContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#navbar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.line {
  background-color: #DCC7AA;
  height: 55px;
}

#logo {
  height: 90px;
}

.container-main {
  margin-top: 10%;
}

.main-box {
  font-size: 26px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #6B7A8F;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #DCC7AA;
  margin: auto;
  width: 600px;
  height: 470px;
}

.button {
  font-size: 30px;
  color: #6B7A8F;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  height: 65px;
  width: 300px;
  background-color: #F7882F;
  border: 7px solid #F7C331;
}

.text-box {
  line-height: 0.5;
}

.bin-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bin-header {
  color: #ffffff;
  background-color: #F7882F;
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.footer {

  /* /* text-align: center; */
  /* padding: 3px;
  background-color: #DCC7AA;
  color: white;
	margin-top: auto; */
  color: #6B7A8F;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #DCC7AA;
}